<%- include("partials/header"); -%>

    <h1 class="admin-title">Hallo <%= username %>!</h1>
    <h3>Neuer Post</h3>
    <form class="" action="/admin" method="POST">
        <div class="form-group">
            <label>Titel</label>
            <input class="form-control" type="text" name="postTitle">
            <label>Inhalt</label>
            <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Veröffentlichen</button>
    </form>

    <%- include("partials/footer"); -%>